<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Carrito de compras</title>
</head>
<body>
    <main class="Evento_elegido">
        <div class="boca vs river">
            <img  src="../public/img/boca-river.jpg" alt="partido de futbol">
            <h5>Fecha: dom 09 dic 2018</h5>
            <p>Lugar: Santiago Bernabeu, Madrid - España</p>
            <p>Categoria: popular</p>
            <p>Precio: $20.000</p>            
        </div>
        <div class="forma_pago">           
            <img  src="../public/img/medios-pago.jpg" alt="medios de pago">  
            <h1>Elegir medio de pago</h1>           
            <fieldset>
                <fieldset>
                      <input type="radio" id="Visa" name="size" required value="visa" />
                      <label for="visa">Visa</label>
                </fieldset>
                <fieldset>
                      <input type="radio" id="master" name="size" value="master" />                              
                      <label for="master">Master</label>
                </fieldset>                                                    
                <fieldset>
                      <input type="radio" id="mercadopago" name="size" value="mercadopago" />                             
                      <label for="mercadopago">Mercado Pago</label>                                                                       
                </fieldset>
                <fieldset>
                      <input type="radio" id="otros" name="size" value="otros" />         
                      <label for="otros">Otros</label>                        
                </fieldset>
            </fieldset> 
                       
            <input type="button" value="volver">
            <input type="button" value="Confirmar y seguir">
      </div>       
    </main>
</body>
<footer class="">
    <div class="">
      <h3>Hecho por Tickets DH 😎</h3>
    </div>
  </footer>
</html>