<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">

</head>
<body>
    <nav class="" id="mySidebar">
        <a href="#"  class="items">Inicio</a>
        <a href="#"  class="active items">Carrito</a>
    </nav>
      <!-- Header -->
<header class="content-header">
    <div class="slideshow-container">        
        <div class="mySlides fade">
          <img class="slider" src="img/images-banner.jpg" style="width:100%">
        </div>
         
        <a class="prev">❮</a>
        <a class="next">❯</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
        
</header>
<fieldset>
    <form action="/action">
        <input type="search" id="search" name="search" placeholder="Buscar evento">
        <select name="pets" id="pet-select">
            <option value="" disabled selected hidden>Categoria </option>
            <option value="dog">Conierto</option>
            <option value="cat">Teatro</option>
            <option value="hamster">Deportes</option>
            <option value="parrot">Festival</option>
        </select>
        <input type="date" id="birthday" name="birthday">
      </form>
</fieldset>
    <!-- !PAGE CONTENT! -->
    <div class="">
        <hr id="about">

    <!-- First Photo Grid-->
    <div class="content-event" id="food">
      <div class="card-event">
          <img  src="img/ctangana.jpg" alt="img-concert">
        
            <h5>Sab 10 Mayo 2023</h5>  
        
            <p>Movistar Arena</p>
            <a href="/details">Compra entrada</a>
       
      </div>
      <div class="card-event">
        <img  src="img/rbd.jpg" alt="img-concert">
        <h5>Sab 14 Abril 2023</h5>
        <p>Atanasio Giraldot</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="img/teatro.jpg" alt="img-concert">
        <h5>Mie 22 Sept 2023</h5>
        <p>Teatro libre</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/futbol.jpg" alt="img-concert">
        <h5>Sab 04 mar 2023</h5>
        <p>Estadio el campin</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/coachella.jpg" alt="img-concert">
        <h5>Sab 24 Ago 2023</h5>
        <p>Pque Simon Bolivar</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/teatro2.jpg" alt="img-concert">
        <h5>Sab 04 mar 2023</h5>
        <p>Teatro Matacandelas</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/boca-river.jpg" alt="img-concert">
        <h5>Sab 19 Nov 2023</h5>
        <p>Teatro libre</p>
        <a href="/details">Estadio Santiago Bernabeu</a>
      </div>
      <div class="card-event">
        <img src="/img/fito paez.png" alt="img-concert">
        <h5>Sab 20 may 2023</h5>
        <p>Movistar arena</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/museo.png" alt="img-concert">
        <h5>Sab 14 Feb 2023</h5>
        <p>MAMBO</p>
        <a href="/details">Compra entrada</a>
      </div>
      <div class="card-event">
        <img src="/img/teatro3.jpg" alt="img-concert">
        <h5>vie 06 Oct 2023</h5>
        <p>Teatro libre</p>
        <a href="/details">Compra entrada</a>
      </div>

        <div class="card-event">
            <img src="/img/miley.jpg" alt="img-concert">
            <h5>Sab 21 mar 2023</h5>
            <p>Movistar Arena</p>
            <a href="/details">Compra entrada</a>
          </div>
          <div class="card-event">
            <img src="/img/cirque.jpg" alt="img-concert">
            <h5>Sab 04 mar 2023</h5>
            <p>Teatro libre</p>
            <a href="/details">Compra entrada</a>
          </div>
    </div>
  
    <hr>
    <!-- Pagination -->
    <div class="">
      <div class="">
        <a href="#" class="">«</a>
        <a href="#" class="">1</a>
        <a href="#" class="">2</a>
        <a href="#" class="">3</a>
        <a href="#" class="">4</a>
        <a href="#" class="">»</a>
      </div>
    </div>
    
  
    <!-- Footer -->
    <footer class="">
      <div class="">
        <h3>Hecho por Tickets DH 😎</h3>
      </div>
    </footer>
  
</body>
</html>