<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Product</title>
</head>
<body>
    <main class="Evento_elegido">
        <div class="boca vs river">
            <img  src="../public/img/boca-river.jpg" alt="partido de futbol">
            <h5>Fecha: dom 09 dic 2018</h5>
            <p>lugar: Santiago Bernabeu, Madrid - España</p>
            Categoria: Deportes
            <p>Descripcion: puedes acceder al mejor evento deportivo del año que se jugara en España, 
                una gran final donde se definira el campeon de la copa Libertadores de America</p>            
        </div>
        
        <div class="forma_pago">       
            <h1>Ubicacion y precios</h1>           
            <fieldset>
                <fieldset>
                  <input type="radio" id="master" name="size" value="popular" />                              
                  <label for="popular">popular: $ 20.000</label>
                </fieldset>   
                <fieldset>
                      <input type="radio" id="platea" name="size" required value="platea" />
                      <label for="platea">platea: $ 35.000</label>
                </fieldset>
                <fieldset>
                    <input type="radio" id="mercadopago" name="size" value="vip" />                             
                    <label for="vip">vip: $ 50.000</label>
                </fieldset> 
            </fieldset>        
    </main>
</body>
<footer class="">
    <div class="">
      <h3>Hecho por Tickets DH 😎</h3>
    </div>
  </footer>  

</html>