<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/register.css" />
    <title>Registro</title>
  </head>
  <body>
    <h2>Formulario de registro</h2>
    <form action="action_page.php">
      <div class="container">
        <h2>Registro</h2>
        <p>Por favor, llena este formulario para crear una cuenta..</p>
        <hr />
        <label for="email"><b>Nombre y apellido</b></label>
        <input
          type="text"
          placeholder="Ingresa tu nombrey apellido"
          name="email"
          id="email"
          required
        />

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Ingresa tu Email"
          name="email"
          id="email"
          required
        />

        <label for="psw"><b>Contraseña</b></label>
        <input
          type="password"
          placeholder="Ingresa una contraseña"
          name="psw"
          id="psw"
          required
        />

        <label for="psw-repeat"><b>Repite la contraseña</b></label>
        <input
          type="password"
          placeholder="Repite la contraseña"
          name="psw-repeat"
          id="psw-repeat"
          required
        />

        <label for="name"><b>Pais </b></label>
        <input class="text" type="text" id="name" name="" required />
        <label for="name"><b>Fecha de nacimiento </b></label> <br>
        <input
          class="date"
          type="date"
          id="birthdate"
          name="birthdate"
          required
        />
        <hr />

        <button type="submit" class="registerbtn">Registrate</button>
      </div>

      <div class="container signin">
        <p>Ya tienes una cuenta? <a href="#">Inicia sesión</a>.</p>
      </div>
    </form>
  </body>
  <footer class="">
    <div class="">
      <h3>Hecho por Tickets DH 😎</h3>
    </div>
  </footer>
</html>
