<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Registro</title>
</head>
<body>
    <h1>Formulario de registro</h1>
    <form>
    <fieldset>
        <fieldset>
              <label for="name">Nombre:</label>
              <input class="text" type="text" id="name" name="" required />
              <label for="lastname">Apellido:</label>
              <input class="text" type="text" id="lastname" name="lastname" required />
        </fieldset>
        <fieldset>
            <label for="name">Pais:</label>
            <input class="text" type="text" id="name" name="" required />              
        </fieldset>
        <fieldset>
            <label for="name">Email:</label>
            <input class="text" type="text" id="name" name="" required />
            <label for="lastname">Password:</label>
            <input class="text" type="text" id="lastname" name="lastname" required />
             
        </fieldset>
        <fieldset>
              <label class="date" for="birthdate">Fecha de nacimiento(mm/dd/yyyy):</label>
              <input class="date" type="date" id="birthdate" name="birthdate" required />
              <label>Sexo:</label>
              <label for="female">Mujer:</label>
              <input type="radio" id="female" name="gender" required value="female" />
              <label for="male">Hombre:</label>
              <input type="radio" id="male" name="gender" required value="male" />
        </fieldset>
        <fieldset>
            <input class="enviar" type="submit" value="Registrarse" />
            <input class="enviar" type="reset" value="reset" />
        </fieldset>
    </fieldset>
    </form>
        
</body>
<footer class="">
    <div class="">
      <h3>Hecho por Tickets DH 😎</h3>
    </div>
  </footer>
</html>